body {
  background-color: #bd8c7d;
}

h1 {
  text-align: center;
  font-family: monospace
}

h2 {
  text-align: center;
}

.table {
  background-color: #d1bfa7;
  border: 1px solid #49494b;
  margin: 0 auto;

.tablehead {
  background-color: #8e8e90;
}

.tablehead td {
  text-align: center;
}

#th {
  background-color: #afa394; 
}